@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

body {
  background-color: rgb(15, 39, 24);
}
p {
  text-align: center;
  color: #f1f1ec;
  font-family: "Odibee Sans", cursive;
  letter-spacing: 1.5px;
  font-size: 20px;
}
h1 {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 50px;
  padding-top: 1em;
  color: #ffffcc;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px green, 0 0 30px green,
    0 0 40px green, 0 0 55px green, 0 0 70px green;
}
h3 {
  font-family: "Odibee Sans", cursive;
  text-align: center;
  font-size: 45px;
  color: rgb(9, 127, 182);
  padding-top: 1em;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px green, 0 0 30px green,
    0 0 40px green, 0 0 55px green, 0 0 70px green;
}
