@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');


body {
	background:rgb(34, 72, 59); 
	margin-right:4rem;
	margin-left:1rem;
}

.never {
	width:20%;
	box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56); 
}

.home {
	background:rgba(20,20,20,0.6);
	border-radius: 5px;
	margin-top:40px;
	height:70px;
	text-align: center;
	color:white;
	padding:21px;
	width:50%;
	font-family: 'Press Start 2P', cursive;
	margin-left:25%;
	font-size:20px;
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px green, 0 0 30px green,    
    0 0 40px green, 0 0 55px green, 0 0 70px green;
}

.zero {
	background: rgba(21, 47, 47, 0.8);
	text-align: center;  
	height:170px;
	line-height: 25px;
	font-size:20px;
	font-family: 'Teko', sans-serif;
	letter-spacing: 2px;
	padding:5px;
}

.zero a {
	color:rgb(58, 51, 51);
	background:chartreuse;
	width:40px;
  letter-spacing: 2px;
	line-height: 20px;
}

.zero h2 {
	text-align: center;
	color:white;
}

.some {
	max-width:350px;
	min-width:320px;
	max-height:250px;
	min-height:330px;
	box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56);    
	padding: 46px;    
	border-radius: 5px;    
	margin-top: 100px;    
	margin-left:55px;    
	background: url("../images/minecraft.jpeg"); 
}

.some h1 {
	text-align:center;
	color:white;
	background:rgba(52, 85, 146, 0.9);
	border-radius:5px;
}

.neo {
	max-width:350px;
	min-width:320px;
	max-height:250px;
	min-height:330px;
  box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56);    
  padding: 46px;        
  border-radius: 5px;        
  margin-top: 100px;        
  margin-left:55px;  
	background:url("../images/cod1.jpg");
	background-repeat: no-repeat;
	background-size: cover;                                          
}

.neo h1 {
	text-align:center;
	color:white;
	background:rgba(52, 85, 146, 0.9);
	border-radius:5px;
}

.simple {
	max-width:350px;
	min-width:320px;
	max-height:250px;
	min-height:330px;
	box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56);        
  padding: 46px;            
  border-radius: 5px;      
  margin-top: 100px;            
  margin-left:55px;            
  background:url("../images/cyper.jpg");
	background-repeat: no-repeat;
	background-size: cover;         
}

.simple h1 {
	text-align:center;
	color:white;
	background:rgba(52, 85, 146, 0.9);
	border-radius:5px;
}


.good {
	max-width:350px;
	min-width:320px;
	max-height:250px;
	min-height:330px;
	box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56);        
	padding: 46px;            
	border-radius: 5px;      
	margin-top: 100px;            
	margin-left:55px;            
	background:url("../images/battle.jpg");
}

.good h1 {
	text-align:center;
	color:white;
	background:rgba(52, 85, 146, 0.9);
	border-radius:5px;
}


.more {
	max-width:350px;
	min-width:320px;
	max-height:250px;
	min-height:330px;
	box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56);        
	padding: 46px;            
	border-radius: 5px;      
	margin-top: 100px;            
	margin-left:55px;            
	background:url("../images/pubg3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.more h1 {
	text-align:center;
	color:white;
	background:rgba(52, 85, 146, 0.9);
	border-radius:5px;
}

.sample {
	max-width:350px;
	min-width:320px;
	max-height:250px;
	min-height:330px;
	box-shadow: 12px 12px 27px 12px rgba(0, 0,0, 0.56);        
	padding: 46px;            
	border-radius: 5px;      
	margin-top: 100px;            
	margin-left:55px;            
	background:url("../images/gta-5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.sample h1 {
	text-align:center;
	color:white;
	background:rgba(52, 85, 146, 0.9);
	border-radius:5px;
}


.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(8);
	grid-gap: 10px;
	font-family: 'Teko', sans-serif;
} 
